<ion-content padding>   
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <form [formGroup]="loginData" (ngSubmit)="onSubmit()">
          <ion-item>
              <ion-label position="floating">Username</ion-label>
              <ion-input 
                name="username"
                formControlName="username"
              >
              </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input 
              name="password"
              formControlName="password" 
              type="password"
            >
            </ion-input>
          </ion-item>
        
          <ion-button type="submit" expand="full">Login</ion-button>
        </form> 
    </ion-row> 
  </ion-grid>
</ion-content>
